<app-bar-chart [data]=roundedData [highlight]=highlightData></app-bar-chart>
<ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (userChange)="changeSlider($event)"></ngx-slider>