::ng-deep {
    .ngx-slider {
        .ngx-slider-model-value {
            top: 1rem;
            font-size: 12px!important;
        }
        .ngx-slider-model-high {
            top: 1rem;
            font-size: 12px!important;
        }
        .ngx-slider-pointer {
            width: 12px!important;
            height: 12px!important;
            border-radius: 6px!important;
            top: -4px!important;
            background-color: black!important;
            &::after {
               display: none!important;
            }
        }
        .ngx-slider-selection {
            background-color: black!important;
        }
    }
}