<div class="container-fluid">
    <div class="container border my-2 rounded">
        <nav class="navbar bg-body-tertiary">
            <div class="row w-100">
                <div class="col-3 col-sm-4">
                    <a class="navbar-brand fw-bold" href="/">Shoe.</a>
                </div>
                <div class="col-9 col-sm-8">
                    <div class="row mx-2">
                        <div class="input-group">
                            <input class="form-control rounded-end search-column" type="search" placeholder="Search" aria-label="Search" (keyup)=(handleOnChangeSearch($event))/>
                            <span class="input-group-append position-absolute search-column-img">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    
        <div class="row border-top my-2">
            <div class="col-3 col-sm-4 border-end px-0">
                <div class="dropdown dropdown-category-container mt-5 border-top py-2">
                    <button id="categoryDropdown" (click)=(handleCategoryClick()) class="btn btn-transparent w-100 text-start show border-bottom border-0 fw-bold" type="button" aria-expanded="true">
                        Category 
                        <span>
                            <svg *ngIf="isCategoryMenuOpened == false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            <svg *ngIf="isCategoryMenuOpened == true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                            </svg>
                        </span>
                    </button>
                    <div class="dropdown-category border-0" *ngIf="isCategoryMenuOpened">
                        <div class="dropdown-item-cust position-relative" *ngFor="let data of categories; let i = index">
                            <input type="checkbox" id="{{ 'custom-checkbox-' + i }}" name="{{data}}" [value]="data" [checked]="checkedStateCategory[i]" (change)=(handleOnChangeCategory(i)) class="form-check-input checkbox-category"/>
                            <label htmlFor="{{'custom-checkbox-' + i}}" class="ms-2">{{data}}</label>
                            <span class="checkbox-hole" (click)=(handleOnChangeCategory(i))></span>
                        </div>
                    </div>
                </div>
                <div class="mt-3 border-top px-3 py-2">
                    <p class="fw-bold my-0 mt-2 mb-1">Price Range</p>
                    <div class="row" style="margin-top: 1rem">
                        <app-slider [data]=prices [onchangeSlider]=onChangeSlider></app-slider>
                    </div>
                </div>
                <div class="mt-3 px-3 py-1 border-top">
                    <p class="fw-bold my-0 mt-2">Size</p>
                    <div class="row mt-2">
                        <div class="col-15 position-relative size-container mb-2"*ngFor="let s of size; let i = index">
                            <input type="checkbox" id="{{s}}" name="{{s}}" [value]="s" class="checkbox-size" [checked]="checkedStateSize[i]" (change)=(handleOnChangeSize(i))/>
                            <label htmlFor="{{s}}">{{s}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9 col-sm-8 content-container">
                <div class="row my-4 mx-2">
                    <div class="col-6" style="padding-left: 0;">
                        <h2>New Arrivals</h2>
                    </div>
                    <div class="col-6 text-end">
                        <div class="btn-group">
                            <button type="button" class="btn btn-transparent">Sort by {{sortText}}</button>
                            
                            <button type="button" class="btn btn-transparent" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </button>
                            <ul class="dropdown-menu">
                                <li (click)=(handleSortClick($event))><span class="dropdown-item drop-sorting">Price</span></li>
                                <li (click)=(handleSortClick($event))><span class="dropdown-item drop-sorting">Size</span></li>
                                <li (click)=(handleSortClick($event))><span class="dropdown-item drop-sorting">Name</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mx-2">
                    <div class="card col me-4 my-2 p-0 container-card" *ngFor="let data of filteredData">
                        <div class="card-header-container px-2 pt-2">
                            <p class="fw-light text-capitalize my-0">{{data.name}}</p>
                            <p class="fw-bolder text-capitalize my-0">{{data.description}}</p>
                            <div class="card-border-header-color" [style.color]="data.color"></div>
                        </div>
                        <div class="card-image-container px-2 pt-2">
                            <img src="{{data.image}}" class="card-img" alt="{{data.image}}"/>
                        </div>
                        <div class="card-footer-container px-2 pt-2 d-flex justify-content-between">
                            <div class="card-footer-description">
                                <p class="fw-light my-0">Price</p>
                                <p class="fw-bolder fs-3">$ {{data.price}}</p>
                            </div>
                            <div class="card-footer-icon-container">
                                <img src="{{data.icon1}}" class="card-img" alt="{{data.icon1}}"/>
                                <img src="{{data.icon2}}" class="card-img" alt="{{data.icon2}}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>