.container {
    background-color: #fff;
	min-width: 70rem;
	overflow-x: auto;
}
.search-column {
    padding-left: 2rem;
}
.search-column-img {
    padding: 0.3rem 0.5rem;
}
.drop-sorting {
    cursor: pointer;
}
.container-card {
    min-width: 18rem;
    max-width: 25rem;
}
.content-container {
	max-height: 100vh;
	overflow-y: scroll;
}
.dropdown-category-container {
	#categoryDropdown {
		span {
			float: right;
		}
	}
	.dropdown-category {
		z-index: 100;
		min-width: 10rem;
		padding: 0.5rem 0;
		margin: 0;
		font-size: 1rem;
		color: #212529;
		text-align: left;
		list-style: none;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid rgba(0, 0, 0, 0.175);
		border-radius: 0.375rem;
	}
}
.dropdown-relative {
	position: relative !important;
	transform: none !important;
}
.size-container {
	input {
		display: none;
	}
	label {
		display: inline-block;
		width: 100%;
		height: 100%;
		text-align: center;
		border: 1px solid #cbc3c3;
		border-radius: 8px;
		cursor: pointer;
		background-color: #cbc3c3;
	}
}
.checkbox-size {
	&:checked {
		+ {
			label {
				border: 1px solid #cbc3c3;
				color: #000;
				background-color: #fff;
				box-shadow: -0.2px -1px 2px 2px #cbc3c3;
			}
		}
	}
}
.dropdown-item-cust {
	input {
		margin-left: 1rem;
		margin-top: 0.5rem;
	}
	label {
		margin-top: 0.2rem;
	}
	.checkbox-category {
		&:checked {
			background-image: none !important;
			background-color: #2e2727;
		}
	}
}
.checkbox-hole {
	position: absolute;
	width: 6px;
	height: 6px;
	background-color: #fff;
	left: 1.35rem;
	top: .8rem;
}
.col-15 {
	position: relative;
	min-height: 1px;
	padding-right: 6px;
	padding-left: 6px;
	width: 20% !important;
	float: left;
}
.col-xs-15 {
	position: relative;
	min-height: 1px;
	padding-right: 3px;
	padding-left: 3px;
	width: 20%;
	float: left;
}
.col-sm-15 {
	position: relative;
	min-height: 1px;
	padding-right: 5px;
	padding-left: 5px;
}
.col-md-15 {
	position: relative;
	min-height: 1px;
	padding-right: 6px;
	padding-left: 6px;
}
.col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
.card-header-container {
	position: relative;
}
.card-border-header-color {
	border-left: 2px solid;
	height: 2.5rem;
	position: absolute;
	top: 0.75rem;
	left: 0;
}
.card-footer-icon-container {
	img {
		width: 60px;
		margin-left: 15px;
	}
}
@media (min-width: 768px) {
	.col-sm-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}